<% documents.each do | document | %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= document[:name] %></h3>
    </div>
    <div class="panel-body">
      <%= smart_paragraphs(document[:content]) %>
    </div>
  </div>
<% end %>