<% cases.each do |c| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= c[:doc_name] %></h3>
    </div>
    <div class="panel-body">
      <%= smart_paragraphs(c[:content]) %>
    </div>
  </div>
<% end %>