<h3>Summary</h3>

<% summary.each do | desc, value | %>
  <b><%= desc %>:</b> <%= value %><br/>
<% end %>

<h3>Documents with no associated Organization</h3>
<ul>
  <% unknown_documents.each do | unknown_document | %>
    <li><%= unknown_document %></li>
  <% end %>
</ul>