entry_url: https://services.crtc.gc.ca/pub/instances-proceedings/Default-Defaut.aspx?lang=eng&YA=2015&S=C&PA=t&PT=nc&PST=a#2015-134
download_folder: /mnt/policy-browser/data/raw
ongoing_consultation: false
consultation: 2015-134
